<!DOCTYPE HTML>
<html>

<head> 
<title>Mi primer programa web</title>
</head>

<body>
<h1>Datos personales</h1>
<p>
Mi nombre es:</br>
Bryan Josue Valenzuela Garcia
</p>
Mi correo es <a href="mailto:a17490522@itmexicali.edu.mx">
Direccion electronica</a>

<h2>Este es un encabezado de nivel h2</h2>
<h3>Este es un encabezado de nivel h3</h3>
<h4>Este es un encabezado de nivel h4</h4>
<h5>Este es un encabezado de nivel h5</h5>
<h6>Este es un encabezado de nivel h6</h6>
<b>Esta es una etiqueta de tipo bold</bold>



</body>

</html>